
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 226, 232, 240;
  --background-start-rgb: 10, 10, 12;
  --background-end-rgb: 2, 6, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

.font-racing {
  font-family: 'Orbitron', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
